<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="tenantId" value="020b0cf3-d6b2-464e-9b2d-45e124244428" />
		<add key="clientId" value="821eb724-edb8-4dba-b425-3f953250c0ae" />
		<add key="serviceBusNamespaceFQDN" value="stefsb.servicebus.windows.net" />
		<!-- e.g. yournamespaceName.servicebus.windows.net -->
		<add key="queueName" value="example-q" />
		<add key="thumbPrint" value="" />
		<add key="clientSecret" value="46PjJww~~sFi_3h-Z6N-S3~Ahu7T.Hi_U2" />
		<add key="userName" value="" />
		<add key="password" value="" />
		<add key="redirectURI" value=""/>
		<!-- Make sure this matches the redirect URI you set in AAD in your app. It doesn't need to be the right URL E.g.: http://servicebus.microsoft.com -->
	</appSettings>
</configuration>
